body
{
	background-color:#D8EAFC;
}
h1.mainTitle {color:#589AFC; text-align:center; font-size:48px}

div.folder
{
	padding:5px;
	border:5px solid #58A2DC;
	border-radius:6px;
	margin:5px;
	background-color:#aac9F2;
}

p.folder
{
	text-align:justify;
	font-weight:bold;
	color:#20207F;
	border-bottom:dotted #50A0D0;
	border-width:2px;
}

a.url:link,a.url:visited
{
	color:blue;
}
a.url:hover,a.url:active
{
	color:#10105d;
}
